import(Rfit)
import(data.table)
import(Rcpp)
import(biglm)

useDynLib(bigRfit)
exportPattern(".")
importFrom(Rcpp, evalCpp)
importFrom(Rcpp, sourceCpp)
importFrom(stats,median)
importFrom(stats,lsfit)
importFrom(stats,quantile)
importFrom(stats,bw.nrd)
importFrom(stats,sd)
importFrom(graphics,hist)

S3method(print,bigRfit) 
S3method(vcov,bigRfit_xc)
S3method(vcov,bigRreg)
S3method(summary,bigRfit)
S3method(print,summary.bigRfit)
